---
title: Free OpenSource AS3 Library | AS3CoreAddendum
description: AS3CoreAddendum is an architectural addendum to the core of the Actionscript 3.0 language based on some standards and patterns of Java and C# languages.
priority: 1.0
---
- content_for :main_content_title do
  | About
markdown:
  AS3CoreAddendum is an architectural addendum to the core of the Actionscript 3.0 language. It's based on some standards and patterns of Java and C# languages. It aims to be a base standard library for basically any as3 application or framework.

  For most as3 developers there's nothing wrong with the core of the language and such library doesn't add value. But any experienced as3 developer concerned with good code and consequently with a good object oriented design and design patterns knows that as3 leaves much to be desired when it goes into advanced OO concepts.

  There's where AS3CoreAddendum gets into: it adds some classes and interfaces to enhance the core language. As a result it allows a better OO design through the implementation of patterns for solving common problems in advanced OO scenarios, such as:
  - dipose an object (IDisposable)
  - clone an object (ICloneable)
  - implement comparators (IComparator)
  - implement enumerations (Enum)
  - implement object equality by value (not only by reference) (IEquatable)
  - and more...

  All of this through a standardized, documented and unit tested library.

  For more information see the docs.
